<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
<body>
<p align="center"> <h2>Author list</h2></p> <br>

<table  class="table table-striped">
    <tr><th>Imię</th><th>Nazwisko</th><th>kasuj ?</th><th>aktualizuj</th><</tr>

    <tr  th:each="wpis: ${author}">
<!--                <td th:text="${wpis.idauthor}">Id</td>-->
        <td th:text="${wpis.authorname}">Imię</td>
        <td th:text="${wpis.authorsurname}">Nazwisko</td>


        <td>
            <a href="#" th:href="@{/kasujauthora(id=${wpis.idauthor})}" class="btn btn-danger">

                <i class="fa fa-trash-o fa-lg"></i>Kasuj</a></td>


        <td>
            <a href="#" th:href="@{/przekierujauthora(id=${wpis.idauthor})}" class="btn btn-primary">

                <i class="fa fa-trash-o fa-lg"></i>Aktualizuj</a></td>

    </tr>

</table>

<table class="table table-striped">
    <tr><td> Wyszukaj wg nazwy</td>
        <td><form action="http://localhost:8080/wyszukajauthora"><input name="authorname"></form></td>
        <td><input type="submit"></td></tr>

</table>

</body>
</html>