<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Aktualizuj</title>
    </head>
<body>
<form   th:action="@{/updatebook}" th:object="${books}">

    <table>
        <input  type="hidden" th:field="*{id}" id="id">
        <tr>
            <td>Podaj nazwę </td>
            <td><input name="title" th:field="*{title}"> </td>
        </tr>
        <tr>
            <td>Podaj rodzaj</td>
            <td> <input name="genre" th:field="*{genre}"> </td>
        </tr>
        <tr>
            <td>    Podaj wydawcę</td>
            <td><input name="publisher" th:field="*{publisher}"></td>
        </tr>
        <tr>
            <td>     Podaj ilość stron    </td>
            <td><input name="pages" th:field="*{pages}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>